
:root {
    /* font size */
    --font-large: 24px;
    --font-medium: 20px;
    --font-small: 15px;
    --font-micro: 12px;
    /* img size */
    --logo-size: 70px;
    --avarta-size: 40px;
    /* color */
}

body {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.menu ul{
    list-style: none;
    display: flex;
    padding-left: 0px;
}
.menu li {
    font-size: var(--font-small);
    padding: 6px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: var(--logo-size);
    height: var(--logo-size);
    border-radius: 20%;
    margin-right: 50px;
}

.login {
    display: flex;
    align-items: center;
}

.login a,
.login div {
    padding: 6px;
}

.login a {
    font-size: var(--font-small);
}

.content {
    font-size: 5px;
}

.shopnumber {
    background-color: orangered;
    color: white;
    border-radius: 70%;
}

.mainimg {
    display: flex;
    justify-content: center;
}

.mainimg .left {
    background-image: url(./img/blurry-gradient-haikei.svg);
    width: 38%;
    height: 30em;
}

.mainimg .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 50px;
}

.mainimg .right {
    width: 38%;
    height: 30em;
    background-image: url(./img/stacked-waves-haikei.svg);
}

.mainimg .right img {
    width: 170%;
    height: 100%;
    padding-top: 100px;
    padding-right: 50px;
}

.shopnow_btn {
    background-color: black;
    color: white;
}

.feel {
    font-size: 70px;
    font-family: 'Lobster', cursive;
}

.shopnow_btn {
    width: 20%;
    height: 4em;
}

.learnmore {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}

.learnmore .title {
    font-family: 'Lobster', cursive;
    font-size: 70px;
    padding-bottom: 30px;
}

.learnmore .content {
    font-size: var(--font-small);
}

.learn_btn {
    background-color: black;
    color: white;
    width: 9%;
    height: 3.7em;
    margin-top: 20px;
}